@CHARSET "ISO-8859-1";

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@import url(https://fonts.googleapis.com/css?family=Montserrat);

@import
	url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

/* Layout para celulares: menor ou igual a 480 px. */
body {
	background-color: blue;
}

/* Layout para tablets: 481 px a 768 px. Herda estilos de: Layout para celulares. */
@media only screen and (min-width: 481px) {
	body {
		background-color: black;
	}
}

/* Layout para desktops: 769 px até o máximo de 1232 px. Herda estilos de: Layout para celulares e Layout para tablets. */
@media only screen and (min-width: 769px) {
	body {
		background-color: red;
	}
}

.wrap {
	widht: 90%;
	height: 70%;
	margin: 0 auto;
	display: table;
}

.titulo {
	font-family: 'Open Sans', sans-serif;
}

/* FORMULARIO */
.container-formulario {
	float: left;
	margin-right: 100px;
	margin-left: 100px;
}
.container-logo {
	float: right;
}

.formulario-de-evento {
	width: 500px;
	background-color: #BEBEBE;
	font-family: 'Open Sans', sans-serif
}

/* MENU */
.menu-principal {
	list-style: none;
	position: relative;
	text-align: left;
	background-color: rgb(0, 122, 175);
	background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, .3));
	margin: 0px;
	padding-bottom: 2px;
}

.menu-principal li {
	display: inline-block;
	padding: 7px 7px 7px 7px;
	margin: -2px;
	font-family: 'Open Sans', sans-serif;
	font-size: 11pt;
}

.menu-principal li a {
	color: white;
	text-decoration: none;
}

/* LOGIN */
.controla-acesso label {
	color: white;
}

/* LISTA EVENTO */
.table-bordered {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}