<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Evento</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ObterEvento</display-name>
    <servlet-name>ObterEvento</servlet-name>
    <servlet-class>controle.ObterEvento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObterEvento</servlet-name>
    <url-pattern>/ObterEvento</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluiEvento</display-name>
    <servlet-name>ExcluiEvento</servlet-name>
    <servlet-class>controle.ExcluiEvento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluiEvento</servlet-name>
    <url-pattern>/ExcluiEvento</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlteraEvento</display-name>
    <servlet-name>AlteraEvento</servlet-name>
    <servlet-class>controle.AlteraEvento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlteraEvento</servlet-name>
    <url-pattern>/AlteraEvento</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsereEquipamentoPGJ</display-name>
    <servlet-name>InsereEquipamentoPGJ</servlet-name>
    <servlet-class>controle.InsereEquipamentoPGJ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsereEquipamentoPGJ</servlet-name>
    <url-pattern>/InsereEquipamentoPGJ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluiEquipamentoPGJ</display-name>
    <servlet-name>ExcluiEquipamentoPGJ</servlet-name>
    <servlet-class>controle.ExcluiEquipamentoPGJ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluiEquipamentoPGJ</servlet-name>
    <url-pattern>/ExcluiEquipamentoPGJ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObterEquipamentoPGJ</display-name>
    <servlet-name>ObterEquipamentoPGJ</servlet-name>
    <servlet-class>controle.ObterEquipamentoPGJ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObterEquipamentoPGJ</servlet-name>
    <url-pattern>/ObterEquipamentoPGJ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlteraEquipamentoPGJ</display-name>
    <servlet-name>AlteraEquipamentoPGJ</servlet-name>
    <servlet-class>controle.AlteraEquipamentoPGJ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlteraEquipamentoPGJ</servlet-name>
    <url-pattern>/AlteraEquipamentoPGJ</url-pattern>
  </servlet-mapping>
</web-app>